<div class="">
  <div class="columns">
    <div class="column is-3 aside is-fullheight hero">
      <div class="filters">
        <multiselect id="countries" :value="selectedCountries" :options="countriesList" :multiple="true" :close-on-select="false"
          :clear-on-select="true" :hide-selected="true" track-by="name" label="name" @select="addCountry" @remove="removeCountry"
          placeholder="Select countries">
        </multiselect>
        <div class="columns">
          <div class="column">
            <multiselect id="range-from" :value="yearFrom" :options="filteredYearsFrom" :searchable="false" :close-on-select="true" :show-labels="false"
              @select="changeYearFrom" placeholder="From">
            </multiselect>
          </div>
          <div class="column">
            <multiselect id="range-to" :value="yearTo" :options="filteredYearsTo" :searchable="false" :close-on-select="true" :show-labels="false"
              @select="changeYearTo" placeholder="To">
            </multiselect>
          </div>
        </div>
        <multiselect id="topics" :value="selectedTopic" :options="topicsList" :searchable="false" :close-on-select="true" :show-labels="false"
          placeholder="Select topic" label="value" track-by="id" @select="changeTopic">
        </multiselect>
        <multiselect id="indicators" :disabled="!isIndicatorLoaded" :value="selectedIndicator" :options="indicators" :searchable="false"
          :close-on-select="true" :show-labels="false" placeholder="Select indicator" label="name" track-by="id" @select="changeIndicator">
        </multiselect>
        <div class="block">
          <a class="button is-success" :disabled="!isRequestAvailable" :class="{'is-loading': false}" @click="onRequestHandler" v-show="!patternSaveAttempt">Get Data</a>
        </div>
      </div>
      <div class="pattern">
        <multiselect id="pattern" :disabled="!isPatternExist" :value="selectedPattern" :options="searchPatterns" :searchable="false"
          :close-on-select="true" :show-labels="false" placeholder="Select pattern" label="name" track-by="name" @select="changePattern">
        </multiselect>
        <div class="block">
          <a class="button is-primary" :disabled="!isDataCoupled" @click="onSavePatternHandler" v-show="!patternSaveAttempt">Save</a>
          <a class="button is-info" v-show="!patternSaveAttempt">Use</a>
          <b-field v-show="patternSaveAttempt">
            <b-input placeholder="Pattern Name" v-model="patternName"></b-input>
            <p class="control">
              <button class="button" @click="closePatternSaveArea">Cancel</button>
            </p>
            <p class="control">
              <button class="button is-success" :disabled="!patternHasName" @click="savePattern({ ctx, patternName, coupledData })">Save</button>
            </p>
          </b-field>
        </div>
      </div>
    </div>
  </div>
</div>
